body{
  margin:0;
  font-family:Arial, sans-serif;
  background:white;
  color:black;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom:1px solid black;
  background-color: #fff;
}

#logo {
  width: 150px;
  height: auto;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 10px; /* espacio entre login y carrito */
}

#login-btn, #cartBtn {
  padding: 8px 12px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

#cart-count {
  margin-left: 5px;
  background-color: red;
  color: #fff;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
}

/* Productos */
#products{
  display:grid;
  grid-template-columns:repeat(auto-fill,minmax(200px,1fr));
  gap:20px;
  padding:20px;
}

.product{
  border:1px solid black;
  padding:15px;
  text-align:center;
}

button{
  background:black;
  color:white;
  border:none;
  padding:8px 12px;
  cursor:pointer;
}

/* Carrito lateral */
#cart{
  position:fixed;
  top:0;
  right:-320px;
  width:300px;
  height:100%;
  background:white;
  border-left:1px solid black;
  padding:15px;
  transition:.3s;
  overflow:auto;
  z-index:999;
}

#cart.open{
  right:0;
}
